<div class="footer-container">
    <div class="footer-section">
        <img src="/src/images/footer-photos/logo.webp" alt="">
        <p>We make your dream more beautiful & enjoyable with lots of happiness.</p>
        <div class="social-links">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-linkedin-square'></i></i></a>
            <a href=""><i class='bx bxl-github'></i></a>
            <a href=""><i class='bx bxl-twitter'></i></a>
        </div>
    </div>
    <div class="footer-list">
        <div class="footer-section">
            <h3>The Navigation</h3>
            <ul>
                <li><a href="#">Talent Marketplace</a></li>
                <li><a href="#">Payroll Services</a></li>
                <li><a href="#">Direct Contracts</a></li>
                <li><a href="#">Hire Worldwide</a></li>
                <li><a href="#">Hire in the USA</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Our Resources</h3>
            <ul>
                <li><a href="#">Free Business Tools</a></li>
                <li><a href="#">Affiliate Program</a></li>
                <li><a href="#">Success Stories</a></li>
                <li><a href="#">Upwork Reviews</a></li>
                <li><a href="#">Help & Support</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>The Company</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Leadership</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Trust, Safety & Security</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-section">
        <h3>Payment Methods</h3>
        <div class="paymentmethods">
            <img src="/src/images/footer-photos/payment.webp" alt="">
        </div>
        <h3>Our Partners</h3>
        <div class="ourpartners">
            <div class="partner1">
                <a><img src="/src/images/footer-photos/mytrip.webp" alt=""></a>
            </div>
            <div class="partner1">
                <a><img src="/src/images/footer-photos/tripadv.webp" alt=""></a>
            </div>
            <div class="partner1">
                <a><img src="/src/images/footer-photos/goibibo.webp" alt=""></a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="footer-bottom">
    <div class="copy"> &copy; <u>2024 GeoTrip. Design by GeoTrip </u></div>
    <div class="Terms">
        <a href="#">Terms of Service</a><a href="#">Privacy
            Policy</a><a href="#">Cookies</a>
    </div>
</div>