<div class="logo"><img src="/src/images/navbar-photos/uebLogo.webp" alt="ueb-logo"></div>
<ul id="lista-navbar">
    <li><a href="/src/index.html" id="home"><i class="fa-solid fa-house icon"></i>Home</a>
    </li>
    <li><a href="/src/Hotel Page/hotels.html" id="hotels"><i class="fa-solid fa-hotel icon"></i>Hotels</a></li>
    <li><a href="/src/Cars-Page/cars.html" id="cars"><i class="fa-solid fa-car icon"></i>Cars</a></li>
    <li><a href="/src/AboutUs.html" id="about_us"><i class="fa-solid fa-circle-info icon"></i>About Us</a></li>
</ul>

<div class="login-register">
    <button class="sign-in1" id="sign-in">Sign in/Sign up</button>
    <i class="fa-solid fa-list list" style="margin-left: 40px;"></i>
    <div></div>
</div>